html {
    font-family: "Inter", sans-serif;
    margin: 30px;
    font-weight: 300;
    font-style: normal;
    margin: 0.50em;
    padding: 0.50em;
    line-height: 2;
    color: white;
  }
div {
    font-family: "Roboto", sans-serif;
    line-height: 2;
    margin: .10em;

    }

iframe {
 /*  border: 1px black; */
 /*  */ width: 100%; /* width in iframe will take precedence over the width set with the HTML width attribute */
  height: 180px;
  background:transparent;
  
}


/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
